body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #ff7b00;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

#produits {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.produit {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  width: 22%;
  text-align: center;
}

.produit img {
  width: 100%;
  height: auto;
}

.produit a {
  background-color: #ff7b00;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.site-name h1 {
  font-family: 'Lobster', cursive; /* nouvelle police */
  color: white;
  font-size: 28px; /* taille du texte */
  margin: 0;
}

